html
moodledata
.vscode
docs

!docker-compose.yml
!docker/

/plugins/*
!/plugins/local/

/plugins/local/*
!/plugins/local/curriculum

/plugins/*
!/plugins/local/

/plugins/theme/*
!/plugins/theme/custom