html
moodledata
.vscode
docs

test.php

!docker-compose.yml
!docker/

/plugins/*
!/plugins/local/

/plugins/local/*
!/plugins/local/curriculum
!/plugins/local/coursebuilder
!/plugins/local/academicload

/plugins/*
!/plugins/local/

/plugins/theme/*
!/plugins/theme/custom