<tr data-subjectid="{{subjectid}}">
    
    <td>
        {{subjectname}}
    </td>

    <td>
        {{#teachername}}
            {{teachername}}
        {{/teachername}}
        {{^teachername}}
            <span class="text-muted">{{#str}} unassigned, local_academicload {{/str}}</span>
        {{/teachername}}
    </td>

    <td>
        <span class="badge badge-{{statusbadge}}"
        style="white-space:normal; word-break:break-word;text-align:center">
            {{statuslabel}}
        </span>
    </td>

    <td class="text-right">
        {{#canassign}}
            <button class="btn btn-sm btn-outline-primary js-assign"
            data-subjectid="{{subjectid}}"
            data-cohortid="{{cohortid}}"
            data-teacherid="{{teacherid}}"
            data-action="{{assign}}"
            >
                {{#str}} assign, local_academicload {{/str}}
            </button>
        {{/canassign}}

        {{#canretry}}
            <button class="btn btn-sm btn-outline-warning js-retry"
            data-subjectid="{{subjectid}}"
            data-cohortid="{{cohortid}}"
            data-teacherid="{{teacherid}}"
            data-action="{{retry}}"
            >
                {{#str}} retry, local_academicload {{/str}}
            </button>
        {{/canretry}}
    </td>

</tr>
